{% macro displayMovieList(movie_list) %}
<div class="row">
    {% for movie in movie_list %}
    <div class="col-3">
        <div class="card movie-card">
            <a href="/movie/{{movie.mId}}" class="card-title">
                <img src="{{ movie.poster}}" class="card-img" alt="{{ movie.title }} poster" class="img-responsive">
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}

<!-- Displaying reviews macro -->
{% macro displayReviews(review_list) %}
{% for review in review_list %}
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
    <h2> {{ review.title}} </h2>
    <p> {{ review.review | truncate(30) }}</p>
</div>
{% endfor %}
{% endmacro %}


<!-- Display TV Show macro -->
{% macro displayTVList(movie_list) %}
<div class="row">
    {% for show in movie_list %}
    <div class="col-3">
        <div class="card movie-card">
            <a href="/show/{{show.mId}}" class="card-title">
                <img src="{{ show.poster}}" class="card-img" alt="{{ show.title }} poster" class="img-responsive">
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endmacro %}