{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}
<div class="container-flex backgroundImage" style="background: url({{movie.background}})no-repeat;background-size: cover;width: 100%; background-color: rgba(0,0,0,0.5);">
    <div>
        <!-- Poster background -->
        <div class="row">
            <div class="col-6"
                style="background: url({{movie.poster}}) no-repeat center center;height: 100vh">
            </div>

            <div class="col-6 movie-details">
                <h3>{{ movie.title }}</h3>
                <p class="overview"> {{ movie.overview }}</p>
                <p class="ratings"> <b> {{ movie.vote_average }}</b> - <i>{{ movie.vote_count}} votes </i> </p>
                <h4>Production Companies</h4>
                {% for item in movie.production %}
                {{ item.name }}, 
                {% endfor %}
                <br>
                <a class="ratings btn btn-primary" href="/movie/review/new/{{movie.mId}}"> Write a new review</a>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h1>Reviews</h1>
        <hr>

        {% if reviews %}
        {{macro.displayReviews(reviews)}}

        {% else%}
        <h3 class="text-center">This movie has no reviews </h3>

        <a class="btn btn-success btn-lg text-center" href="/movie/review/new/{{movie.mId}}"> Write a new review</a>
        {% endif %}

    </div>
</div>



{% endblock %}


<iframe width="640" height="360" src="https://www.youtube.com/embed/jKCj3XuPG8M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>